# Compile directories
/Debug
/Release

# VS files (user specific, intelli sense, precompiled headers)
/*.user
/*.suo
/*.opensdf
/*.sdf
/ipch
Release Optimal
Debug
Development
Release
Release Dll
/gitBuild.h
