body {
	font-size: 8pt;
	background: #ffffff;
	font-family: tahoma;
	color: #000000;
	margin-top: 0px;
	margin-left: 5px;
}
img {
	border: 0px solid black;
}
table {
	font-size: 8pt;
	font-family: tahoma;
}

table.bar {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-size: 8pt;
	background: #eeeeee;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	font-family: tahoma;
	width: 100%;
}

a.i3 {
	font-weight: bold;
	font-size: 8pt;
	color: #EE9900;
	font-family: tahoma;
	text-decoration: none;
}
a.i2 {
	font-weight: bold;
	font-size: 8pt;
	color: #009900;
	font-family: tahoma;
	text-decoration: none;
}
a.i2:link {
	font-weight: bold;
	font-size: 8pt;
	color: #009900;
	font-family: tahoma;
	text-decoration: none;
}
a.i2:active {
	font-weight: bold;
	font-size: 8pt;
	color: #009900;
	font-family: tahoma;
	text-decoration: none;
}
a.i2:visited {
	font-weight: bold;
	font-size: 8pt;
	color: #009900;
	font-family: tahoma;
	text-decoration: none;
}
a.i2:hover {
	font-weight: bold;
	font-size: 8pt;
	color: #009900;
	font-family: tahoma;
	text-decoration: none;
}
a.i {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
	font-family: tahoma;
	text-decoration: none;
}
a.i:link {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
	font-family: tahoma;
	text-decoration: none;
}
a.i:active {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
	font-family: tahoma;
	text-decoration: none;
}
a.i:visited {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
	font-family: tahoma;
	text-decoration: none;
}
a.i:hover {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
	font-family: tahoma;
	text-decoration: none;
}
a {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
	font-family: tahoma;
	text-decoration: none;
}
a:link {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
	font-family: tahoma;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
	font-family: tahoma;
	text-decoration: none;
}
a:active {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
	font-family: tahoma;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
	font-family: tahoma;
	text-decoration: underline;
}
hr {
	font-weight: bold;
	font-size: 8pt;
	color: #002980;
}
hr.t {
	font-weight: bold;
	font-size: 8pt;
	color: #D60000;
}
h2 {
	font-weight: bold;
	color: #D600D6;
}


.menuleft {
	width: 150px;
	border: 0px solid red;
}
.menuleft ul {
	margin: 0px;
	padding-left: 15px;
}

.menuright {
	width: 150px;
	border: 0px solid blue;
}